node_modules/
# Archivos auxiliares y temporales de LaTeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.nav
*.snm
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.maf
*.mtc
*.mtc1
*.nlo
*.nls
*.slg
*.slo
*.sls
*.xdy
*.pdf
*.dvi
*.ps
*.tex.backup
*.bak
*.pyg
*.vrb
*.xdv
*.xml
